<!DOCTYPE html>
<html>
   <head>
       <title><%= name%></title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- 引入 Bootstrap -->
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 
      <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
   </head>
   <body>
        <div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default navbar-inverse" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
					<a class="navbar-brand" href="/">首页</a>
					<ul class="navbar-brand">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">支出</a>
							<ul class="dropdown-menu">
								<li class="navbar-brand"><a href="/paylist/list">看一眼</a></li>
								<li class="navbar-brand"><a href="/paylist/add">记一笔</a></li>
							</ul>
						</li>
					</ul>
					<ul class="navbar-brand">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">收入<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li class="navbar-brand"><a href="/income/list">看一眼</a></li>
								<li class="navbar-brand"><a href="/income/add">记一笔</a></li>
							</ul>
						</li>
					</ul>
                    <ul class="navbar-brand">
                        <li class="dropdown">
                            <a href="/balance/list" class="dropdown-toggle" data-toggle="">统计<strong class="caret"></strong></a>
                        </li>
                    </ul>
                    <ul class="navbar-brand">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">理财<strong class="caret"></strong></a>
        <ul class="dropdown-menu">
            <li class="navbar-brand"><a href="/finance/list">看一眼</a></li>
            <li class="navbar-brand"><a href="/finance/add">记一笔</a></li>
        </ul>
    </li>
</ul>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href="/logout">退出</a>
						</li>
					</ul>
				</div>
			</nav>

        <div class="col-md-12 column">
		
            <form role="form" action="/finance/submit" method="post">
                <div class="form-group">
	            	<label for="userName">我是谁</label>
	            	<select class="form-control" name="userName">
		            	<option value="jing">宝</option>
		                <option value="dong">冬</option>
	            	</select>
            	</div> 
                <div class="form-group">
                    <label>名称</label>
                    <input type="text" class="form-control" id="financeName" name="financeName"/>
                </div>
                <div class="form-group">
					 <label for="">金额</label>
                     <input type="number" class="form-control" id="money" name="money"/>
				</div>
                <label>购买起止日期</label>
                <div class="form-group">
                <input type="text" class="" id="startTime" name="startTime">
                <label>—</label>
                <input type="text" class="" id="endTime" name="endTime">
                <script src="../layDate-v5.0.9/laydate/laydate.js"></script> <!-- 改成你的路径 -->
                <script>
                    //执行一个laydate实例
                    laydate.render({
                      elem: '#startTime' //指定元素
                    });
                    laydate.render({
                      elem: '#endTime' //指定元素
                    });
                </script>
                </div>
				<div class="form-group">
					 <label for="">类型</label>
                     <!-- <input type="text" class="form-control" id="comment" />-->
                     <select class="form-control" name="type">
                         <option value="1">定期</option>
                         <option value="2">基金</option>
                         <option value="3">股票</option>
                         <option value="4">储蓄</option>
				    </select>
                </div>
				<div class="form-group">
					 <label for="">机构</label>
                     <select class="form-control" name="bank">
                         <option value="1">招行</option>
                         <option value="2">百度</option>
                         <option value="3">微信</option>
                         <option value="4">懒投资</option>
                         <option value="5">阿牛定投</option>
                         <option value="6">蚂蚁</option>
                         <option value="7">同花顺</option>
                         <option value="8">天天基金</option>
				    </select>
                </div>

                <div>
                    <label for="">收益</label>
                    <input type="text" class="form-control" id="gain" name="gain"/>
                </div>
                <div>
                    <label for="">备注</label>
                    <input type="text" class="form-control" id="comment" name="comment"/>
                </div>
                <button type="submit" class="btn btn-default">保存</button>
			</form>
		</div>
        </div>
        </div>
        </div>
            <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <script src="https://code.jquery.com/jquery.js"></script>
      <!-- 包括所有已编译的插件 -->
      <script src="../javascripts/bootstrap.min.js"></script>
      <script src="../js/bootstrap-datepicker.js"></script>
   </body>
</html>
