<!DOCTYPE html>
<html>

<head>
    <title>
        <%= name%>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
</head>

<body>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <nav class="navbar navbar-default navbar-inverse" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">首页</a>
                    </div>
                    <div class="navbar-body">
                        <ul class="navbar-brand">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">支出
                                    <strong class="caret"></strong>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="navbar-brand">
                                        <a href="/paylist/list">看一眼</a>
                                    </li>
                                    <li class="navbar-brand">
                                        <a href="/paylist/add">记一笔</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="navbar-brand">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">收入</a>
                                <ul class="dropdown-menu">

                                    <li class="navbar-brand">
                                        <a href="/income/list">看一眼</a>
                                    </li>
                                    <li class="navbar-brand">
                                        <a href="/income/add">记一笔</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="navbar-brand">
                            <li class="dropdown">
                                <a href="/balance/list" class="dropdown-toggle" data-toggle="">统计
                                    <strong class="caret"></strong>
                                </a>
                            </li>
                        </ul>
                        <ul class="navbar-brand">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">理财
                                    <strong class="caret"></strong>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="navbar-brand">
                                        <a href="/finance/list">看一眼</a>
                                    </li>
                                    <li class="navbar-brand">
                                        <a href="/finance/add">记一笔</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="/logout">退出</a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="col-md-12 column">

                    <form role="form" action="/paylist/submit" method="post">
                        <div class="form-group">
                            <label for="userName">我是谁</label>
                            <select class="form-control" name="userName">
                                <option value="jing">宝</option>
                                <option value="dong">冬</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">金额</label>
                            <input type="number" class="form-control" id="money" name="money" />
                        </div>

                        <label>日期</label>
                        <div class="form-group">
                            <input type="text" class="form-control" id="time" name="time">
                            <script src="../layDate-v5.0.9/laydate/laydate.js"></script>
                            <!-- 改成你的路径 -->
                            <script>
                                //执行一个laydate实例
                                laydate.render({
                                    elem: '#time' //指定元素
                                });
                            </script>
                        </div>
                        <div class="form-group">
                            <label for="">类型</label>
                            <!-- <input type="text" class="form-control" id="comment" />-->
                            <select class="form-control" name="type">
                                <option value="1">吃</option>
                                <option value="2">衣</option>
                                <option value="3">房租</option>
                                <option value="4">旅游</option>
                                <option value="5">电子产品</option>
                                <option value="6">生活用品</option>
                                <option value="7">护肤品</option>
                                <option value="8">礼物</option>
                                <option value="9">家人</option>
                                <option value="10">其他</option>
                                <option value="11">交通</option>
                                <option value="12">娱乐</option>
                                <option value="13">学习</option>
                            </select>
                        </div>
                        <div>
                            <label for="">备注</label>
                            <input type="text" class="form-control" id="comment" name="comment" value="无" />
                        </div>
                        <div class="form-group" id="image">
                            <label for="">上传图片</label>
                            <input type="file" onchange="preview(this)" />
                            <!--multiple="multiple" accept="image/x-png, image/jpg, image/jpeg, image/gif"-->
                        </div>
                        <button type="submit" class="btn btn-default">保存</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- 包括所有已编译的插件 -->
    <script src="../javascripts/bootstrap.min.js"></script>
    <script>
        var msg = "您可以上传png, jpg, 或者gif格式的图片";
        var filter = {
            "jpeg": "/9j/4",
            "gif": "R0lGOD",
            "png": "iVBORw"
        };
        function preview(file) {
            if (window.FileReader) {
                for (var index = 0, f; f = file.files[index]; index++) {

                    var filereader = new FileReader();
                    filereader.onload = function (event) {
                        var srcpath = event.target.result;
                        if (!validateImg(srcpath)) {
                            console.log("H5" + msg);
                        } else {
                            showPreviewImage(srcpath);
                        }
                    };
                    filereader.readAsDataURL(f);
                }
            } else {
                if (!/\.jpg$|\.png$|\.gif$/i.test(file.value)) {
                    console.log("原生" + msg);
                } else {
                    showPreviewImage(file.value);
                }
            }
        }

        function validateImg(data) {
            console.log(data);
            var pos = data.indexOf(",") + 1;
            for (var e in filter) {
                if (data.indexOf(filter[e]) === pos) {
                    return e;
                }
            }
            return true;
        }

        function showPreviewImage(src) {
            var img = document.createElement('input');
            img.name = 'picture'
            img.type = 'text'
            img.value = src

            document.getElementById('image').appendChild(img);
        }

    </script>
</body>

</html>