<!DOCTYPE html>
<html>
   <head>
      <title>静大大的专属</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- 引入 Bootstrap -->
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="javascripts/echarts.min.js"></script>
   </head>
   <body>
        <div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default navbar-inverse" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
					<a class="navbar-brand" href="/">首页</a>
					<ul class="navbar-brand">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">支出<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li><a href="/paylist/list">看一眼</a></li>
								<li><a href="/paylist/add">记一笔</a></li>
							</ul>
						</li>
					</ul>
					<ul class="navbar-brand">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">收入<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
            		<div class="tabbable" id="tabs-967670">
				<ul class="nav nav-tabs">
					<li class="active">
						 <a href="/display" >历史数据</a>
					</li>
					<li>
						 <a href="/display/list" >每月数据</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="/display">
						<p>
							I'm in Section 1.
                                <script>
                                // 绘制图表。
                                    echarts.init(document.getElementById('main')).setOption({
                                    series: {
                                        type: 'pie',
                                        data: [
                                        {name: 'A', value: 1212},
                                        {name: 'B', value: 2323},
                                        {name: 'C', value: 1919}
                                            ]
                                        }
                                    });
                                </script>
						</p>
                    </div>
					<div class="tab-pane" id="/display/list">
						<p>
							Howdy, I'm in Section 2.
						</p>
					</div>
				</div>
			</div>

        </div>
        </div>
        </div>
            <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <script src="https://code.jquery.com/jquery.js"></script>
      <!-- 包括所有已编译的插件 -->
      <script src="javascripts/bootstrap.min.js"></script>
   </body>
</html>
