<!DOCTYPE html>
<html>
   <head>
      <title>静小小专属</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- 引入 Bootstrap -->
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
   </head>
   <body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default navbar-inverse" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
					<a class="navbar-brand" href="/">首页</a>
					<ul class="navbar-brand">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">支出</a>
							<ul class="dropdown-menu">
								<li><a href="/paylist/list">看一眼</a></li>
								<li><a href="/paylist/add">记一笔</a></li>
							</ul>
						</li>
					</ul>
					<ul class="navbar-brand">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">收入</a>
							<ul class="dropdown-menu">

								<li><a href="/income/list">看一眼</a></li>
								<li><a href="/income/add">记一笔</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href="/logout">退出</a>
						</li>
					</ul>
				</div>
			</nav>

			<div class="carousel slide" id="carousel-320046">
				<ol class="carousel-indicators">
                    <li class="active" data-slide-to="0" data-target="#carousel-320046"></li>
					<li data-slide-to="1" data-target="#carousel-320046"></li>
				</ol>
				<div class="carousel-inner">
					<div  class="item active">
						<img alt="" src="/images/tong1.jpeg" />
						<div class="carousel-caption"></div>
					</div>
					<div class="item">
						<img alt="" src="images/toto2.jpeg" class="img-circle"/>
						<div class="carousel-caption"></div>
					</div>
				</div>
                <a class="left carousel-control" href="#carousel-320046" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-320046" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>


		</div>
	</div>
</div>
      <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <script src="https://code.jquery.com/jquery.js"></script>
      <!-- 包括所有已编译的插件 -->
      <script src="javascripts/bootstrap.min.js"></script>
   </body>
</html>
