<form role="form" (ngSubmit)="onSubmit()" class="demo">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    ADD A NEW LIST
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-group input-group mb-3" style="margin-inline-start: 10px">
                    <div class="input-group-append">
                        <label class="input-group-text" for="inputGroupSelect02">我是</label>
                    </div>
                    <select class="form-control custom-select" id="userName" name="userName" [(ngModel)]="list.userName">
                        <option *ngFor="let user of getUsers()" [value]="user">{{user}}</option>
                    </select>

                </div>
                <div class="form-group input-group mb-3">
                    <div class="input-group-append">
                        <label class="input-group-text" for="inputGroupSelect02">收入</label>
                    </div>
                    <input type="number" class="form-control" name="money" [(ngModel)]="list.money" />
                    <span class="input-group-text">$</span>
                </div>
                <div class="form-group input-group mb-3">
                    <div class="input-group-append">
                        <label class="input-group-text" for="inputGroupSelect02">日期</label>
                    </div>
                    <angular2-date-picker (onDateSelect)="onDateSelect($event)" name="time" [(ngModel)]="list.time" [settings]="settings" class="form-control"></angular2-date-picker>
                </div>
                <div class="form-group input-group mb-3">
                    <div class="input-group-append">
                        <label class="input-group-text" for="inputGroupSelect02">分类</label>
                    </div>
                    <select class="form-control custom-select " id="type" name="type" [(ngModel)]="list.type">
                        <option *ngFor="let type of getTypes()" [value]="type">{{type}}</option>
                    </select>
                </div>
                <div class="form-group input-group mb-3">
                    <div class="input-group-append">
                        <label class="input-group-text" for="inputGroupSelect02">备注</label>
                    </div>
                    <input type="text" class="form-control" id="comment" name="comment" value="无" [(ngModel)]="list.comment" />
                </div>
            </div>
            <div class="modal-footer">
            <button type="submit" class="btn btn-info">保存</button>
            </div>
        </div>
    </div>
</form>