.demo{
    /* height: 400px; */
    /* width:300px; */
    text-align:right;
    margin-left:10px;
    margin-right:40px;
    margin-top:20px;
  }

.wrap{
    line-height: 400px;
    text-align:center;
  
    height: 400px;
    font-size: 36px;
    background-color: #ccc;
  }
  .demo-chart {
    height: 400px;
    width:300px;
  }

  .button:focus{
    background:olive;
}